.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-sidebar {
    padding: 1rem;
}

.app-content {
    padding: 1rem;
}

@media (min-width: 1024px) {
    .app-layout {
        flex-direction: row;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2rem;
    }

    .app-sidebar {
        width: 40%;
        position: sticky;
        top: 0;
        height: 100vh;
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
    }

    .app-content {
        width: 60%;
        padding: 6rem 0 6rem 4rem;
    }
}